body {
    user-select: none;
}

.field {
    display: flex;
    flex-wrap: wrap;
    margin: 80px auto;    
    width: 600px;
    height: 600px;
}

.cell {
    width: 58px;
    height: 58px;
    border: 1px solid #000; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 30px;
}

.cellLigth {
        background-color: rgb(255,248,220);
    }

.cellDark {
        background-color: brown;
    }
.cellWhite {
        border: 1px solid transparent;
        background-color: transparent; 
        font-size: 20px;       
    }

.cellConvers {
    transform: rotate(180deg);
}

.cellText {
    cursor: pointer;
}

.cellActive {
    font-size: 40px;
}

.cellSteps {
    border: 1px solid rgb(255, 225, 0);
    cursor: pointer;
}